footer(class="footer")
    div(class="footer__wrapper")
        div(class="container")
            div(class="footer__row")
                div(class="footer__col")
                    div(class="footer__col-logo")
                        img(src="img/logo.svg", alt="Boldo")
                    div(class="footer__col-text") Social media validation business model canvas graphical user interface launch party creative facebook iPad twitter.
                    div(class="footer__col-credentials") All rights reserved.
                div(class="footer__col")
            div(class="footer__row")
                div(class="footer__col")
                    div(class="footer__col-title") Landings
                    div(class="footer__col-links")
                        a(href="#") Home
                        a(href="#") Products
                        a(href="#") Services
                div(class="footer__col")
                    div(class="footer__col-title") Company
                    div(class="footer__col-links")
                        a(href="#") Home
                        a(href="#" class="hiring-label") Careers
                        a(href="#") Services
                div(class="footer__col")
                    div(class="footer__col-title") Resources
                    div(class="footer__col-links")
                        a(href="#") Blog
                        a(href="#") Products
                        a(href="#") Services