header(class="header")
    div(class="header__desktop")
        div(class="container")
            div(class="header__row")
                div(class="header__col")
                    div(class="header__col-image")
                        img(src="img/logo.svg", alt="Boldo")
                div(class="header__col")
                    div(class="header__col-links")
                        a(href="#") Product
                        a(href="#") Services
                        a(href="#") About
                    div(class="header__col-btn sm-btn") Log In
                    div(class="header__col-burger")
                        img(src="img/burger-menu.svg", alt="Burger", class="burger-btn")
                        div(class="burger")
                            div(class="burger__wrapper")
                                img(src="img/burger-menu-close.svg", alt="Close burger menu", class="burger-btn")
                                div(class="burger__links")
                                    a(href="#") Product
                                    a(href="#") Services
                                    a(href="#") About